@media screen and (min-height: 597) {
  .login-content {
    margin-top: 0;
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-container {
    width: 100%;
    height: 100%;
  }

  .login-title{
    margin-top: 20px;
  }
}

@media screen and (min-height: 887) {
  .login-container {
    width: fit-content;
    height: fit-content;
  }
  .login-content {
    margin-top: 140px;
    position: inherit;
    top: initial;
    left: initial;
    transform: none;
  }

  .login-title{
    margin-top: 80px;
  }
}