/** 
 * 股票绿色 
 */
$colorStockGreen: 148.02 100% 32.75%;
/** 
 * 股票红色
 */
$colorStockRed: 354.6 100 58.63%;
/** 
 * 主要背景色
 */
$background: 0 0% 100%;
/** 
 * 主要前景色 
 */
$foreground: 0 0% 100%;
/** 
 * 次级背景色 
 */
$muted: 210 40.0% 96.1%;
/** 
 * 次级前景色 
 */
$mutedForeground: 215.4 16.3% 46.9%;
/** 
 * 弹出框背景色 
 */
$popover: 225 9% 9%;
/** 
 * 弹出框前景色 
 */
$popoverForeground: 0 0% 100%;
/** 
 * 边框颜色 
 */
$borderColor: 0 0% 20%;
/** 
 * 输入框背景色 
 */
$input: 0 0 20%;
/** 
 * 卡片背景色 
 */
$card: 0 0% 100%;
/** 
 * 卡片前景色 
 */
$cardForeground: 222.2 47.4% 11.2%;
/** 
 * 主色 
 */
$primary: 222.2 47.4% 11.2%;
/** 
 * 主色前景色 
 */
$primaryForeground: 210 40% 98%;
/** 
 * 次色 
 */
$secondary: 225 9% 9%;
/** 
 * 次色前景色 
 */
$secondaryForeground: 222.2 47.4% 11.2%;
/** 
 * 强调色 
 */
$accent: 210 40% 96.1%;
/** 
 * 强调色前景色 
 */
$accentForeground: 222.2 47.4% 11.2%;
/** 
 * 破坏性色 
 */
$destructive: 0 100% 50%;
/** 
 * 破坏性色前景色 
 */
$destructiveForeground: 210 40% 98%;
/** 
 * 环形色 
 */
$ring: 215 20.2% 65.1%;
/** 
 * 圆角 
 */
$radius: 0.25rem;
/** 
 * 活动色 
 */
$active-color: 229 91% 58%;
/** 
 * 文本色 
 */
$text: 0 0% 100%;
/** 
 * 次级文本色 
 */
$textSecondary: 0 0% 80%;
/** 
 * 三级文本色 
 */
$textTertiary: 0 0% 60%;
/** 
 * 灰色 
 */
$gray: 0 0 38.04%;
