@use '@/theme/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: var(--text-color);
  overflow-y: hidden;
  overflow-x: auto;
}

#root{
  overflow-y: hidden;
}

:root {
  --bg-color: #0c0c0c;
  --bg-secondary-color: #141518;
  --bg-active-color: #27282a;
  --bg-hover-color: #27282a;
  --text-color: #ffffff;
  --text-secondary-color: rgba(255, 255, 255, 0.85);
  --text-tertiary-color: rgba(255, 255, 255, 0.25);
  --border-color: #202020;
  --bg-table-header: #1c1d1f;
  //涨幅颜色
  --stock-up-color: #00a74e;
  --stock-down-color: #ff2c3f;
}

.custom-model {
  &.ant-modal-content {
    border: 1px solid #333333;
    padding: 0;
    overflow: hidden;
  }

  .ant-modal-footer {
    padding: 16px;
  }
}