@use '@/theme/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 100%;
 
    --muted: 210 40.0% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 225 9% 9%;
    --popover-foreground: 0 0% 100%;
 
    --border: 0 0% 20%;
    --input: 0 0 20%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 225 9% 9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.25rem;

    --active-color: 229 91% 58%;

    --stock-up-color: 148 100% 33%;

    --stock-down-color: 355 100 64%;

    --text: 0 0% 100%;

    --text-secondary: 0 0% 80%;


  }
 
  .dark {
    --background: 0 0% 4.71%;
    --foreground: 0 0% 92.16%;
 
    --muted: 225 9.09% 8.63%;
    --muted-foreground: 0 0% 100%;
 
    --accent: 220 4% 14%;
    --accent-foreground: 210 40% 98%;
 
    --popover: var(--muted);
    --popover-foreground: var(--foreground);
 
    --border: 0 0% 12%;
    --input: 0 0% 58%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --primary: 228.67 90.74% 57.65%;
    --primary-foreground: var(--foreground);
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --dialog-border: 0 0% 21%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;


    --active-color: 229 91% 58%;

    --stock-up-color: 148.02 100% 32.75%;

    --stock-down-color: 354.6 100 58.63%;

    --text-secondary: 0 0% 80%;

    --text-tertiary: 0 0% 40%;

    --table: var(--muted);

    --table-header: 220 5% 12%;
  
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

body {
  margin: 0;
  color: var(--text-color);
  overflow-y: hidden;
  overflow-x: auto;

  :focus-visible{
    outline: none;
  }
}

#root{
  overflow-y: hidden;
}

:root {
  // --bg-color: #0c0c0c;
  // --bg-secondary-color: #141518;
  // --bg-active-color: #27282a;
  // --bg-hover-color: #27282a;
  // --text-color: #ffffff;
  // --text-secondary-color: rgba(255, 255, 255, 0.85);
  // --text-tertiary-color: rgba(255, 255, 255, 0.35);
  // --border-color: #202020;
  // --border-secondary-color: #353535;
  // --bg-table-header: #1c1d1f;
  //涨幅颜色
  scrollbar-width: 'thin';
  scrollbar-gutter: 'stable';
}


.custom-model {
  &.ant-modal-content {
    border: 1px solid #333333;
    padding: 0;
    overflow: hidden;
  }

  .ant-modal-footer {
    padding: 16px;
  }
}

.custom-static-model{
  .ant-modal-content {
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    padding: 0;
    overflow: hidden;
  }

  .ant-modal-confirm-btns {
    padding: 16px;
  }
}

